<h1>Subir ficheros Net Core</h1>

<form method="post" enctype="multipart/form-data">
    <label>Seleccione un fichero:</label>
    <input type="file" name="fichero" class="form-control"/>
    <button class="btn btn-info">
        Subir Fichero
    </button>
</form>

<h2 style="color: blue">
    @ViewData["MENSAJE"]
</h2>
<img src='@ViewData["PATH"]'/>

<h3 style="color: red">
    @ViewData["PATH"]
</h3>